@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipsis-box-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3; /* 3줄 이상 말줄임 처리 */
  height: 3.75rem; /* line-height * 3 */
}
